/* nice colors: https://colorhunt.co/palettes/vintage */

@font-face {
	
	font-family: Terminus;
	src:url("Terminus.ttf");
	
}

* {
	
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Terminus;
  font-size: 1.0em;
 
}

body {
  /* background color of the whole page */
  background-color: ##1a1a1a;

  /* prevents text select */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1, ul, li, p {
  /* color of the text (links and time) */
  color: #f7f7f7;
}

ul {
  /* removes default bullet points */
  list-style-type: none;
}

a {
  /* removes default link decoration (underline and blue color) */
  color: inherit;
  text-decoration: none;
  cursor: default;
}

a:hover {
  /* color shown when user hovers on a link */
  color: #b380ec;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.main-container {
  /* main container that encompasses all of the categories */
  width: 100vw;
  min-width: 800px;
  display: flex;
  justify-content: center;
  z-index: 1; /* displays text above the image, if they ever overlap */
}

.link-container {
  /* container used by each individual category */
  margin: 0 90px;
}

.title {
  /* category title */
  display: block;
  margin: 0 0 .1em -2em;
  font-weight: normal;
  margin-bottom: 0.95rem;
}

.dateTime {
  /* displays date and time at top right corner */
  color: #f7f7f7;
  position: fixed;
  font-size: 14x;
  top: 1.3rem;
  right: 2rem;
}

.image {
  /* displays image at bottom right corner */
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0; /* displays image below text, if they ever overlap */
}
